<section class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="high">Visitas Guiadas CCU</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p class="high-white">De manera permanente, la Coordinación de Recintos Culturales tiene un programa de Visitas Guiadas al CCU, el cual ofrece a los visitantes información sobre aspectos históricos, artísticos y arquitectónicos de los diferentes espacios.</p>
      </div>
    </div>
  </div>
</section>
<section class="info" id="recorridos">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h2>Centro Cultural Universitario</h2>
        <p>Este Centro inició su funcionamiento en 1976, con la inaguración de la Sala Nezahualcóyotl. A
        partir de entonces se erige como un espacio único por reunir en el conjunto de sus recitos una amplia
        oferta artística y cultural para el disfrute de la comunidad universitaria y del público en general.</p>
        <br>
        <h3>Los recintos culturales de este conjunto son:</h3>
        <ul>
          <li>Sala Nezahualcóyotl</li>
          <li>Sala Carlos Chávez</li>
          <li>Teatro Juan Ruíz de Alarcón</li>
          <li>Foro Sor Juana Inés De La Cruz</li>
          <li>Centro Universitario de Teatro</li>
          <li>Sala Miguel Covarrubias</li>
        </ul>
        <br>
        <h3>Salas de cine como:</h3>
        <ul>
          <li>Julio Bracho</li>
          <li>José Revueltas</li>
          <li>Carlos Mosiváis</li>
        </ul>
        <br>
        <p>y el Museo Universitario Arte Contemporáneo.</p>
        <br>
        <p>En sus espacios abiertos al visitante disfrutá de la experiencia visual, táctil y de integración al
        espacio trancitable que constituyen:</p>
        <ul>
          <li>El Paseo de las Esculturas</li>
          <li>El Espacio Escultórico</li>
          <li>Las Serpientes del Pedregal</li>
        </ul>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-9">
        <h2>Date un rol y conoce tu Universidad</h2>
        <p>Date un rol y conoce tu Universidad es un recorrido en el cual podrás aprender sobre la historia,
        oferta académica matricula y datos actuales de los recintos y centros que comprenden ciudad
        universitaria.</p>
        <br>
        <p>El 22 de septiembre de 1910 se inaugura la Universidad Nacional de México con la presencia de
Justo Sierra -precursor y creador del proyecto- y el presidente Porfirio Diaz. Es en 1929 cuando se le
otorga la autonomía a la Universidad.
<br><br>
Las primeras facultadas y escuelas se concentraron en el centro Histórico de la Ciudad de México, en
el llamado Barrio Universitario. Posteriormente entre 1950 y 1954, se creo Ciudad Universitaria.
El 28 de junio de 2007 la Organización de las Naciones Unidas para la Educación, la Ciencias y la
Cultura (UNESCO) declaro Patrimonio Cultural de la Humanidad al primer cuadro del campus central
de Ciudad Universitaria.
<br><br>
Reserva Ecológica del pedregal de San Ángel (REPSA)
Decretada así tras una fuerte movilización de estudiantes de Comité de Defensa del Pedregal. Posee
un alto valor biológico, ecológico y geomorfológico ya que permite recargar los mantos acuíferos,
mantiene la humedad y contribuye a amortiguar los cambios de temperatura en el microclima.
</p>
<br><br>
      </div>
    </div>
  </div>
</section>
