<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Nueva Solicitud de visita</h1>

      <div class="row">
        <div class="col-md-4">
          <%= render 'form', visit_request: @visit_request %>
          <%= link_to 'Back', visit_requests_path %>

        </div>
      </div>


    </div>
  </div>
</div>
