<section class="info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Contáctanos</h2>
        <p>Si deseas comunicarte con nosotros, ponemos a tu disposición nuestras redes sociales:</p>
        <p>
          <%= link_to 'https://www.facebook.com/visitasguiadas.ccuunam', target:'_blank' do %>
            <%= fa_icon "facebook-official", text: "Facebook" %>
          <% end %>
        </p>
        <br>
        <p>O llámanos al teléfono:</p>
        <p><%= fa_icon "phone-square", text: "(55) 5622 7008" %></p>
        <br>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h2>Directorio</h2>
        <br>
        <h4>COORDINACIÓN DE DIFUSIÓN CULTURAL</h4><br>
        <p><strong>Dr. Jorge Volpi Escalante</strong><br>
        Coordinador de Difusión Cultural</p>

        <p><strong>Arq. José Luis Montaño Maldonado</strong><br>
        Coordinador de Recintos Culturales</p>

        <p><strong>Mtra. Susana Bautista Cruz <br>
        Lic. Pamela García Maldonado</strong><br>
        Visitas Guiadas CCU y Date un rol y conoce tu Universidad</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <h2>Servicio Social</h2>
        <br>
        <p>Si te interesa realizar tu Servicio Social con nosotros y cumples con los requisitos, comunícate con nosotros al (55) 5622 7008 de lunes a viernes de 17:00 a 20:00 hrs.</p>
        <br>
        <br>
      </div>
    </div>
  </div>
</section>
